
<div class="container">
    <div class="sidebar">
        <p>Multiupload</p>
    </div>
    <div class="content uploadContent">
        <form method="POST" action="/getFiles" enctype="multipart/form-data">
            <input type="file" name="lol" id="lol2" multiple>
            <button type="submit">Upload</button>
        </form>
    </div>
</div>

